doctype html
html
  head
    title Tasty Treats
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 Tasty Treats Newsletter
      block content