doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='styles/normalize.css')
    link(href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Manrope&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='styles/styles.css')
    script(src="scripts/script.js" defer)
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    nav.main-nav
        a.logo(href="/")
          img(src='../images/bread.png')
        ul
          li 
            a(href="/") Home
          li 
            a(href="/admin") Admin  
    div.container
      header.header
          h1 #{title}
      main
        form
          label(for='name') Name
          input.newsletter-data(type='text' name='name' required)
          label(for='email') Email
          input.newsletter-data(type='email' name='email' required)
          label(for='message') Message
          input.newsletter-data(type='text' name='message')
          label(for='newsletterChoice') Newsletter Opt-In
          input.newsletter-data(type='checkbox' name='newsletterChoice')
          label(for='testQuestion') A panda is black and?
          input.newsletter-data(type='text' name='testQuestion' required)
          input.newsletter-data.honey-pot(type='text' name='honeyPot')
          button.submit(type='submit') Submit
    div.footer
      div.copyright ©Richard Herbert. 2020