nav{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    img{
        height: 1.5rem;
    }
    ul{
        li{
            text-decoration: none;
            display: inline-block;
            a{
                text-decoration: none;
            }
        }
    }
}